*{
    margin:0;
    padding:0;
    outline:0;
    appearance: none;
    border:0;
    text-decoration:none;
    list-style: none;
    box-sizing:border-box;
}
html{
    font-size: 14px;
}
body{
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    background:#f6f6f9;
    user-select:none;
    overflow-x:hidden;
}
.container{
    display:grid;
    width:96%;
    margin: 0 auto;
   
    gap:1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color:black
}
img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size:1.4rem;
}
h3{
    font-size:0.87rem;
}
h4{
    font-size:0.8rem;
}
h5{
    font-size:0.77rem;
}

small{
    font-size:0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height:2.8rem;
    border-radius:50%;
    overflow: hidden;
}
.text-muted{
    color:#7d8da1
}

p{
    color: black;
}
b{
    color:black;
}
.primary{
    color: #ff7782;
}
.danger{
    color: #ff7782;
}
.success{
    color: #ff7782;
}
.warning{
    color: #ff7782;
}

aside{
    height:100vh;
}
aside .top{
    background:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top: 1.4rem;
}
aside .logo{
    display:flex;
    gap:0.8rem;
}
aside .logo img{
    width:2rem;
    height:2rem;
}
aside .close{
    display:none;
}
aside .sidebar{
    background:white;
    display:flex;
    flex-direction: column;
    height: 86vh;
    position:relative;
    top:3rem;
}
aside h3{
    font-weight: 500;
}
aside .sidebar a{
    display:flex;
    color:gray;
    margin-left:2rem;
    gap:1rem;
    align-items:center;
    position:relative;
    height:3.7rem;
    transition:all 300ms ease;
}
aside .sidebar a span{
    font-size:1.6rem;
    transition:all 300ms ease;
}

aside .sidebar a:last-child{
    position:absolute;
    bottom:2rem;
    width: 100%;
}
aside .sidebar a.active{
    background:skyblue;
    color:black;
    margin-left:0;
}

aside .sidebar a.active:before{
    content:"";
    width:6px;
    height:100%;
    background: gray;
}

aside .sidebar a.active span{
    color:gray;
    margin-left:calc(1rem -3px)
}
aside .sidebar a:hover{
    color:gray;
}
aside .sidebar a:hover span{
    margin-left:1rem;
}
aside .sidebar .message-count{
    background:#ff7782;
    color:white;
    padding:2px 10px;
    font-size:11px;
}